form  "Produce stones"
@;; name unit "_ --) stones"
buy 6 hdwa
study quar
guard 0
autotax0
turn
produce ston
endturn
@turn
produce ston
take from 2795 39 silv
buy 1 hdwa
endturn
end
form  "-= 0 =-"
@;; name unit "-= 0 =-"
buy 1 hobb
avoid 1
consume
noaid 0
reveal faction
share 0
spoils none
move n
end
form  "Produce grain"
@;; name unit "... grain"
take from 2787 240 silv
buy 6 hdwa
take from 2787 60 silv
study farm
turn
produce grai
share 1
consume faction
endturn
@turn
take from 2787 40 silv
buy 1 hdwa
produce grai
endturn
end
form  "Showmens"
@;; name unit "... Showmens"
buy 3 hobb
claim 120
study ente
@turn
entertain
endturn
end
form  "Armorers"
take from 2787 240 silv
@take from 2787 60 silv
@;; name unit "_ I-#-I"
buy 6 hdwa
@study armo
end
form  "Weaponers"
take from 2787 240 silv
@take from 2787 60 silv
@;; name unit "_ o-X-o"
buy 6 hdwa
@study weap
;received 240 SILV from +-I===>(2787)
end
form  "Wood"
take from 2863 318 silv
buy 6 welf
study lumb
@;; name unit "_ --x wood 6 welf"
turn
produce wood
endturn
@turn
take from 2863 43 silv
buy 1 welf
produce wood
endturn
end
form  "+-I===> aid"
@;; name unit "+-I===> aid"
buy 2 humn
study comb
turn
give 2997 all humn
give 2997 all silv
endturn
guard 0
;received 137 silv from +-I===> (2997)
end
form  "CARAVAN"
@;; name unit "-= caravan =-"
buy 1 hdwa
move ne
guard 0
hold 1
behind 1
noaid 1
avoid 1
@turn
move sw
endturn
@turn
move ne
endturn
end
form  "PRODUCE BEGIN"
@;; name unit "_ --<) iron"
buy 4 gbln
study mini
guard 0
hold 1
avoid 1
behind 1
noaid 1
turn
@produce iron
endturn
;received 160 SILV from +-I===> (2989)
end
form  "3 Herb"
@;; name unit "_ \w/ HERB 3 LIZA"
buy 3 liza
study herb
avoid 1
hold 1
behind 1
noaid 1
turn
@produce HERB
@transport 3400 all HERB
endturn
end
form  "Buy LEAD"
@;; name unit "LEAD for teach"
buy 1 LEAD
move s se s
;received 738 SILV from +-I===> (2915)
;received 1 HORS from +-I===> (2915)

end

